@import "nullstyle.scss";
@import "mixins.scss";

body{
}
.wrapper{

}
//header
.header{
  background-image: url("../img/house.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-bottom: 110px;
}
.head_opacity{
  width: 100%;
  background-color: rgb(black , 0.4);
}
.block_head{

}
.head_nav{
  background-color: rgb(#3E3E3E , 0.5);
  margin-bottom: 110px;

}
.head_ul_li{
  height: 110px;
  @include max_width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.head_li{
  @include paragraph_font;
  font-size: 13px;
  line-height: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.head_li:hover{
  border-bottom: 2px #4B8421 solid;
}
.head_href{
  color: white;
}
.head_href:hover{
  //color: #4B8421;
}
.block_head_text{
  @include max_width;
  padding-bottom: 110px;
}
.h1{

}
.h1_title_head{
  @include little_headlines_font;
  max-width: 612px;
  font-size: 52px;
  color: white;
  padding-bottom: 110px;
  font-weight: 600;
  text-align: left;
}
.paragraph{
  @include little_headlines_font;
}
.header_top{
  @include little_headlines_font;
  font-size: 30px;
  color: white;
  padding-bottom: 60px;
  text-align: left;
}
.header_bottom{
  @include paragraph_font;
  color: white;
  font-size: 20px;
  max-width: 641px;
}
//main
//section rehabilitation house
.section{
  @include max_width;
}
.section_rehabilitation_house{

}
.h2{
  @include big_headlines_font;
}
.h2_rehabilitation_house{

}
.p_rehabilitation_house{
  @include little_headlines_font;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  padding-bottom: 110px;
}

//section blockquote
.section_blockquote{
  border-radius: 10px;
  border-top: 2px solid rgba(105, 178, 51, 0.40);
  border-bottom: 2px solid rgba(105, 178, 51, 0.40);
  background: var(--Color, #FFF);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-around;
  gap: 60px;
  margin-bottom: 110px;
  align-items: center;

}
.block_blockquote{
  align-items: center;
  align-self: center;
}
.img_quote{
  width: 532px;
  height: 191px;
  position: absolute;
  top: 1150px;
}
.h3_blockquote{
  @include little_headlines_font;
  font-size: 40px;
}
blockquote{
  @include paragraph_font;
  max-width: 688px ;
  padding-bottom: 60px;
}
.b_supervisor{
  @include little_headlines_font;
  font-size: 16px;
  text-align: right;
  padding: 0;
}
.block_img_supervisor{

}
.img_supervisor{
  width: 609px;
  height: 410px;
  border-radius: 5px;
}
//section stages of rehabilitation
.section_stages{

}
.h3_stages{
  @include big_headlines_font;
}
.stages_paragraph{
  text-align: center;
  @include little_headlines_font;
}
.icons_blocks{

}
.stages_block_flex{
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.two_top_stages_block_flex{
  margin-bottom: 60px;

}
.two_bottom_stages_block_flex{
  margin-bottom: 110px;
}
.block_icon_informational{
  position: relative;
  //height: 166px;/////////////////////////////////////////
}
.block_icon_informational_long{
  position: relative;
}
.block_for_green_icon{

}
.green_big_icon{
  position: absolute;
  max-width: 130px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.green_big_icon_1{

}
.green_big_icon_2{


}
.green_big_icon_3{


}
.green_big_icon_4{


}
.p_block_icon_informational{
  @include paragraph_font;
  max-width: 700px;/////////////////////////////////////////////////////////
  border-radius: 15px;
  background: var(--Color, #FFF);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding:40px 40px 40px 150px ; ////////////////////////////////////////////////////////////////
}
.p_block_icon_informational_long{
  //padding:40px 40px 40px 150px ; ////////////////////////////////////////////////////////////////
  max-width: 750px;//////////////////////////////////////////////////////////////////
}
// section_map
.section_map{
  display: flex;
  margin-bottom: 110px;
  gap: 15px;
}
.section_map_block_text{
  align-self: center;
}
.section_map_title{
  @include little_headlines_font;
  font-size: 40px;
  font-weight: 600;
}
.p_map_top{
  max-width: 690px;
  @include paragraph_font;
  padding-bottom: 60px;
}
.p_map_bottom{
  max-width: 680px;
  @include paragraph_font;
}
.section_map_block_img{

}
.section_map_img{
  max-width: 688px;
  width: 100%;

}
//section need for rehabilitation homes
.section_need_rehabilitation{
  background-image: url("../img/bcg_section.png");
  padding-bottom: 110px;
}
.div_need_rehabilitation_width{
  @include max_width;
}
.section_need_rehabilitation_title{
  @include big_headlines_font;
}
.section_need_rehabilitation_p{
  @include little_headlines_font;
  text-align: center;
  line-height: 35px;
}
.need_rehabilitation_block_flex{
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
}
.section_need_rehabilitation_block_img{

}
.section_need_rehabilitation_img{

}
.section_need_rehabilitation_list_block{

}
.section_need_rehabilitation_list_ol{

}
.need_rehabilitation_li{
  @include paragraph_font;
  padding-bottom: 22px;
}
.need_rehabilitation_p_bottom{
  @include paragraph_font;
  max-width: 1000px;
  font-weight: 600;
}
//section routine
.section_routines{
  background-image: url("../img/dumbbell.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.routines_width_block{
  @include max_width;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.routine_title{
  @include little_headlines_font;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
  align-self: center;
  max-width: 795px;
  padding-top: 60px;
  font-weight: 600;
}
.routine_list{
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: space-around;
  gap: 110px;
}
.ul_routine{

}
.routine_li{
  @include paragraph_font;
  line-height: 40px;
  color: #FFFFFF;
  position: relative;
  //font-weight: 600;
}
.routine_li::before{
  content: url("../img/check_mark.png");
  width: 20px;
  position: absolute;
  left: -34px;
  top: 5px;
}

//section targets
.section_targets{
  background-color: #6BA900;
  padding-top: 110px;
  padding-bottom: 110px;
  margin-bottom: 110px;
}
.targets_block_width{
  @include max_width;
}
.target_title{
  @include big_headlines_font;
  color: #FFFFFF;
}
.target_p{
  @include paragraph_font;
  text-align: center;
  color:#FFFFFF;
  padding-bottom: 60px;
}
.target_block_img{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.target_img{
  width: 100%;
}
//section role
.section_role{
  margin-bottom: 110px;
}
.role_title{
  @include big_headlines_font;
}
.role_block_flex{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.role_block_text_and_img{

}
.role_img{
  width: 100%;
  padding-bottom: 60px;
}
.role_p{
  @include paragraph_font;
}
//section events
.section_events{
  margin-bottom: 65px;
}
.section_events_title{
  @include big_headlines_font;
}
.section_events_p{
  @include little_headlines_font;
  text-align: center;
  font-weight: 600;
}
.events_block_list_and_img{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
.events_block_list_and_img_top{
  border-radius: 10px 10px 0 0;
  border-top: 2px solid rgba(105, 178, 51, 0.40);
  border-bottom: 2px solid rgba(105, 178, 51, 0.40);
  background: var(--Color, #FFF);
}
.events_block_list_and_img_bottom{
  border-radius: 10px;
  border-bottom: 2px solid rgba(105, 178, 51, 0.40);
  background: var(--Color, #FFF);
}
.events_ul{
  width: 610px;
}
.events_li{
  @include paragraph_font;
  max-width: 600px;
  list-style-type: revert;
  margin-bottom: 20px;
}
.events_block_img{
  padding: 60px 0 60px 0;

}
.events_img{
  width: 100%;
}
//section conclusion
.section_conclusion{
  margin-bottom: 165px;
}
.section_conclusion_block_img{
  text-align: center;
  margin: 0 auto;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 159px;
  padding-top: 55px;
}
.section_conclusion_title{
  @include big_headlines_font;
}
.section_conclusion_p{
  @include paragraph_font;
}
//section photo gallery
.section_gallery{
  padding-bottom: 90px;
}
.section_gallery_title{
  @include big_headlines_font;
}
//slider
body .mySwiper > .swiper-wrapper{
  padding-bottom: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .swiper-slide{
    box-sizing: border-box;
    padding: 15px;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
//section map
.section_map_ya{
  //padding-bottom: 110px;
}
.map_title{
  @include big_headlines_font;
}
.map_ya{
  margin: 0 auto;
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.25);
  max-width: 1400px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
}
.map{
}
.address{
  padding-top: 60px;
  @include little_headlines_font;
  text-align: center;
  display: block;
  font-size: 16px;
}
@import "adaptiv.scss";